---
title: "Upcoming changes to user limits on Free tier of GitLab SaaS"
author: "Sid Sijbrandij"
author_gitlab: sytses
author_twitter: sytses
categories: news
description: "5 user limit per top level namespaces on GitLab SaaS Free tier"
tags: news
twitter_text: "To improve GitLab SaaS efficiency, @gitlab introduces 5 user limit per namespace on GitLab SaaS Free tier"
postType: corporate
comments: false
---

> **2022-06-02 UPDATE:** We've heard your concerns about the enforcement timeline of the user limits. We are now moving the enforcement date to September 15, 2022. In addition, to ensure all users are aware of the upcoming change, email and in-app notifications will be rolled out through June, 2022.

{::options parse_block_html="true" /}
<div class="panel panel-info">
**What you need to know:**
{: .panel-heading}
<div class="panel-body">
- The Free tier of GitLab SaaS will have a limit of 5 users per [namespace](https://docs.gitlab.com/ee/user/group/index.html#namespaces) beginning September 15, 2022
- This change does not apply to our other plans: Paid SaaS and self-managed subscriptions, Free tier self-managed users, and Community programs, including GitLab for Education, GitLab for Startups, and GitLab for Open Source
</div>
</div>
{::options parse_block_html="false" /}

We continue to look for ways to make DevOps a reality for teams and organizations of all sizes. For users to get started with DevOps, learn GitLab, and develop personal and small projects from idea to production with minimal or no investment, GitLab offers the Free tier. For larger projects with many users or requiring support, GitLab offers Premium and Ultimate paid tiers. For open source projects, startups, and educational usage, GitLab offers a set of [community programs](https://about.gitlab.com/community/) tailored to each specific use case.

We are also always exploring ways to become more efficient as a company. To ensure we can continue to offer the Free tier to small teams, we are limiting the number of users per namespace on the Free tier to 5 users. These changes allow us to invest more in research and development for product innovation of the GitLab DevOps Platform. These changes:

- impact fewer than 2% of Free tier users within 0.3% of namespaces
- do not apply to paid SaaS and self-managed subscriptions, free tier self-managed users, and members of our [community programs](/community/) - including GitLab for Open Source, Education, and Startups users

## Next Steps


Organizations and users impacted by this change should consider upgrading to a supported paid tier or switching to the self-managed deployment option which does not have this limit. GitLab Premium and Ultimate include features that are essential for growing teams and large scale projects, such as priority support, advanced CI/CD, advanced permission management, security, and compliance. These features enable businesses to ship faster without sacrificing quality. Start a [free trial](https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=storage-usage-blog-post) to learn more about the benefits of these two tiers.

Free tier users using GitLab for open source projects should consider applying to the [GitLab for Open Source program](/solutions/open-source/) to benefit from GitLab Ultimate.

## Timeline

The new user limit on the Free tier of GitLab SaaS will be effective on new and existing Free tier SaaS namespaces starting September 15, 2022. If you need more time to decide, consider starting a [free 30 day trial](https://gitlab.com/-/trial_registrations/new?glm_source=about.gitlab.com&glm_content=storage-usage-blog-post) at any time.

## More information

Please refer to the [FAQ](/pricing/faq-efficient-free-tier) for more information on these changes.

Free tier users can create a thread with their questions/concerns on the space created in the [GitLab Community Forum](https://forum.gitlab.com/t/gitlab-introduces-user-limits-for-free-users-on-saas/64288), which is actively monitored by GitLab team members and product managers involved with this change.
